body{
    margin: 0;
    background-color: #1a1c42;
}


@keyframes increase_width{
    from{width: 0px; right: -20px;}
    to{width: 164.25px;  right: 40px;}
}


@keyframes reduce_left{
    from{left: 300px;}
    to{left: 0px;}
}


@keyframes increase_left{
    from{left: 0px;}
    to{left: 50px;}
}


@keyframes reduce_width{
    from{width: 164.25px; right: 40px;}
    to{width: 70px;  right: -120px;}
}



#container{
    min-height: 100vh;
    width: 100%;
    color: rgb(233, 221, 221);
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 0.75px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}


header{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: calc(100vh - 40px);
    width: 100%;
    border: 1px solid rgb(203, 247, 138);
    box-sizing: border-box;
}


.title{
    color: rgb(203, 247, 138);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
}


#button-sidebar-container{
    position: fixed;
    top: 55px;
    right: 35px;
    z-index: 1;
}


#button-sidebar-container button{
    font-weight: bold;
    font-size: 3px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-text-stroke: 3px rgb(203, 247, 138);
    line-height: 15px;
}


#button-sidebar-container button:hover{
    font-size: 3px;
    -webkit-text-stroke: 3px rgb(55, 55, 160);
}


.cubo_h1,.cubo_h2{
    background-color: rgba(49, 29, 148, 0.5);
    border: 0.5px solid rgb(203, 247, 138);
    width: 45vw;
    display: inline-block;
    margin-top: 20px;
}


.cubo_h2{
    width: 50vw;
    margin-top: 0px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
    box-sizing: border-box;
}



h1{
    text-transform: uppercase;
    font-size: 30px;
    width: 40vw;
}

h2{
    font-size: 19px;
    line-height: 30px;
    margin: 0px;
}


#button-start{
    width: 100px;
    height: 100px;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
}

#word-cubo{
    -webkit-text-stroke: 0.75px rgb(203, 247, 138);
    font-size: 20px;
}


#side-bar{
    width: 0px;
    height: 164.25px;
    background-color: rgb(10, 78, 109);
    animation-duration: 0.7s;
    animation-delay: 0.2s;
    animation-fill-mode:forwards;
    justify-self: end;
    padding: 10px;
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    right: -20px;
    top: 40px;
    z-index: 1;
}


form{
    position: relative;
    left: 300px;
    animation-duration: 0.7s;
    animation-fill-mode:forwards;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: fit-content;
    gap: 20px;
    z-index: 1;
}


input{
    color: rgb(203, 247, 138);
    width: 30%;
    background-color: rgb(55, 55, 160);
    border: rgb(203, 247, 138) 1px solid;
    width: 40px;
    height: 12px;
    font-size: 11px;
}


.form-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
}


label{
    cursor: text;
    color: rgb(203, 247, 138);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    width: fit-content;
    display: inline-block;
}


#apply-button{
    float: left;
    width: 40%;
    height: 110%;
}


#back-to-start-button{
    float: right;
    width: 40%;
    height: 110%;
}


button{
    background-color: rgb(55, 55, 160);
    border: 2px solid rgb(203, 247, 138);
    cursor: pointer;
    color: rgb(203, 247, 138);
    font-weight: bold;
    font-size: 11px;
    box-sizing: border-box;
}


button:hover{
    background-color: rgb(203, 247, 138);
    color: rgb(55, 55, 160);
    border: 2px solid rgb(55, 55, 160);
    transition: 0.5s;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}


input:focus{
    background-color: rgb(4, 4, 133);
    outline: 1px solid rgb(203, 247, 138);;
}


#cube{
    --width: 100px;
    --height: 100px;
    --depth: 100px; 
    height: var(--height);
    width: var(--width);
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg);
    cursor:grab;
    display: none;
}


.side{
    cursor:grab;
    position: absolute;
    border: 1px solid rgb(129, 156, 87);;
    height: 100%;
    width: 100%;
    background-color: rgba(49, 29, 148, 0.5);
    box-sizing: border-box;
}


.side:nth-of-type(1){
    height: var(--height);
    width: var(--width);
    transform: translateZ(var(--depth));
}


.side:nth-of-type(2){
    height: var(--height);
    width: var(--depth);
    transform: rotateY(-90deg) translateZ(calc(var(--depth) * 0.5)) translateX(calc(var(--depth) * 0.5));
    
}


.side:nth-of-type(3){
    height: var(--height);
    width: var(--depth);
    transform: translateX(-50%) translateZ(calc(var(--depth) * 0.5)) rotateY(90deg) translateZ(calc(var(--width) * 1));
}


.side:nth-of-type(4){
    height: var(--depth);
    width: var(--width);
    transform: translateY(-50%) rotateX(-90deg) translateZ(var(--height)) translateY(-50%);
}


.side:nth-of-type(5){
    height: var(--depth);
    width: var(--width);
    transform: translateY(-50%) rotateX(90deg) translateY(50%);
}

